.Footer {
  padding-top: 30px;
  padding-bottom: 75px;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Footer__Mail {
  padding-top: 50px;
  font-size: 48px;
  line-height: 1.23;
  font-family: "Tilda Sans", Arial, sans-serif;
  color: #ffffff;
  font-weight: 600;
}
.Footer__Adress {
  margin-top: 45px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.55;
  font-family: "TildaSans", Arial, sans-serif;
  font-weight: 300;
  color: #ffffff;
}
.Footer__Adress a {
  color: #ff8562;
  text-decoration: none;
}
.Footer__Vk {
  margin-top: 20px;
  width: 48px;
  height: 48px;
  background-color: #4680c2;
  border-radius: 100%;
  text-decoration: none;
  display: block;
}
.Footer__Vk img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 8px;
}
@media screen and (orientation: portrait){
  .Footer__Mail{
    font-size: 36px;
  }
}