.BigPicture{
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: flex-start;
}
.BigPicture__LeftBlock{
    height: 100vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.BigPicture__RightBlock{
    height: 100vh;
    width: 65%;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    justify-content: flex-start;
}
.BigPicture__LeftBlock img{
    height: 50%;
    object-fit: cover;
}
.BigPicture__RightBlock img{
    height: 100%;
    object-fit: cover;
}
@media  screen and (orientation: portrait){
  .BigPicture{
    height: 50vh;
  }
  .BigPicture__RightBlock{
    height: 50vh;
  }
  .BigPicture__LeftBlock{
    height: 50vh;
  }
}