.Help {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 75px;
}
.Help__Top {    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 12px;
    justify-content: space-between;

}
.Help__Top__Title{
    font-size: 26px;
    line-height: 1.55;
    font-family: "Tilda Sans", Arial, sans-serif;
    font-weight: 300;
    color: #000000;padding-bottom: 15px;
}
.Help__Button {

}
.Help__Top input {
    color: #000000;
    border: 2px solid #000000 !important;
    background-color: #ffffff;
    border-radius: 3px;
    height: 50px !important;
    text-indent: 0px !important;
    background-image: none!important;
    box-sizing: border-box;
    font-family: 'Tilda Sans',Arial,sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 16px!important;
    width: 100%;
}
.Help__Button button {
    color: #ffffff;
    font-family: "Tilda Sans", Arial, sans-serif;
    font-weight: 600;
    background-color: #000000;
    border: 0px solid;
    border-radius: 3px;
    width: auto;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    height: 50px;
    width: 155px;
}
@media screen and (orientation: portrait){
  .Help__Top__Title{
    text-align: start;
  }
}