.HowOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.HowOrder .react-parallax {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.App:has(.HowOrder) .Header {
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: rgb(0 0 0 / 0%) 0px 1px 3px;
}
.HowOrder__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 30px;
    padding-bottom: 45px;
}
.HowOrder__info__Top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.HowOrder__info__Top_OneBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 8px;
    padding-bottom: 5px;
    max-width: 360px;
}
.HowOrder__info__Top_OneBlock__Title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.55;
  font-family: "Tilda Sans", Arial, sans-serif;

  color: #000000;
}
.HowOrder__info__Top_OneBlock__Text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  font-size: 20px;
  line-height: 1.55;
  font-family: "Tilda Sans", Arial, sans-serif;
  font-weight: 300;
  color: #000000;
}
.HowOrder__info__Top_TwoBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  max-width: 360px;

    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}
.HowOrder__info__Top_TwoBlock__Title__One {
    font-weight: 700;font-size: 20px;
    line-height: 1.55;font-family: 'Tilda Sans',Arial,sans-serif;
    color: #000000;
}
.HowOrder__info__Top_TwoBlock__Title__Two {
    font-weight: 700;font-size: 20px;
    line-height: 1.55;font-family: 'Tilda Sans',Arial,sans-serif;
    color: #000000;
}
.HowOrder__info__Top_TwoBlock__Text__One {
    font-size: 20px;
    line-height: 1.55;font-family: 'Tilda Sans',Arial,sans-serif;
    font-weight: 300;
    color: #000000;
}
.HowOrder__info__Top_TwoBlock__Title__Three {
    font-size: 20px;
    line-height: 1.55;font-family: 'Tilda Sans',Arial,sans-serif;
    font-weight: 700;
    color: #000000;
}
.HowOrder__info__Bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1200px;
}
.HowOrder__info__Bottom__OneBlock {
    max-width: 760px;
}
.HowOrder__info__Bottom__OneBlock__Title__One {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.55;
    font-family: 'Tilda Sans',Arial,sans-serif;
    color: #000000;
}
.HowOrder__info__Bottom__OneBlock__Title__Two {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.55;
    font-family: 'Tilda Sans',Arial,sans-serif;
    color: #000000;
}
.HowOrder__info__Bottom__OneBlock__Text_One {
    font-size: 20px;
    line-height: 1.55;
    font-family: 'Tilda Sans',Arial,sans-serif;
    font-weight: 300;
    color: #000000;
}
.HowOrder__info__Bottom__TwoBlock__Text_Two {
    color: #4b4b4b;
    font-size: 15px;
    line-height: 1.55;
    font-family: 'Tilda Sans',Arial,sans-serif;
    font-weight: 300;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 160px
}
@media screen and (orientation: portrait){
  .App:has(.HowOrder) .Header {
    position: static;
    background-color: black;
  }
  .HowOrder__info__Top {
    flex-direction: column;
  }
  .HowOrder__info__Top_OneBlock{
    margin-left: 20px;
    margin-right: 20px;
  }
  .HowOrder__info__Bottom{
    flex-direction: column;
  }
  .HowOrder__info__Bottom__OneBlock{
    margin-left: 20px;
    margin-right: 20px;
  }
}