.Header {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header__Left-Block img {
  max-width: 80px;
  width: 80px;
  display: block;
  height: auto;
}
.Header__Left-Block {
  margin-left: 40px;
}
.Header__Right-Block {
  margin-right: 40px;
}
.Header__Left-Block {
  text-decoration: none;
}
.Header__Right-Block a {
  font-family: "Tilda Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  margin-right: 30px;
  text-decoration: none;
}
.Header__Right-Block a:last-child {
  margin-right: 0px;
}
.Header__Right-Block a:hover {
  color: #c9a33c !important;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
@media screen and (orientation: portrait) {
  .Header__Left-Block {
    margin-left: 0;
  }
  .Header__Right-Block {
    margin-right: 10px;
  }
 
}
